body {
    background-image: url("")
}
.jumbotron {
    text-align: center;
    color: #ddd;
    background-image: url("https://image.freepik.com/photos-gratuite/pizza-au-jambon-au-fromage-au-pepperoni-fond-noir-isole_10307-152.jpg");
    background-size: cover;
    font-family: 'Oleo Script', cursive;
    height: 1000px;
}
#home {
    padding-block-start: 100px;
    font-weight: bolder;
}
.nav {
    background-color : black;
}
.nav a {
    display: inline-block;
    color : white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }
  
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .nav a.active {
    background-color: white;
    color: white;
  }
  #menu {
    font-family: 'Oleo Script', cursive;
    font-family: 'Petit Formal Script', cursive;
  }